%contenedor {
  width: 100%;
  max-width: 1000px;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}


%enlace {
  color: $color-secundario;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: $color-contraste;
  }
}

%imagen {
  width: 100%;
  object-fit: contain;
}

.enlace {
  @extend %enlace;
}

.enlace-contraste {
  @extend %enlace;
  color: $color-contraste;
  &:hover {
    color: $color-secundario;
  }
}

.imagen-texto {}


body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: $font-family-sans-serif;
}