.contenedor-main {
  @extend %contenedor;

  flex-grow: 1;
}

.titular-seccion {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.parrafo {
  text-align: left;
  line-height: 1.2rem;
  margin-bottom: 1rem;
}

.multimedia {
  @extend %multimedia;

  max-width: 800px;
}

.multimedia-mediana {
  @extend %multimedia;

  max-width: 720px;
}


.etiqueta-multimedia {
  text-align: right;
  margin: 5px 1rem 0 0;
  font-size: 0.8rem;
}

.enlace-fuente {
  @extend %enlace;

  color: $color-primario;
  font-style: italic;
}

.imagen-texto {
  @extend %imagen;
}
